*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #aaa;
}
